@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white:#fff;
  --primary-yellow:gold;
}

body{
  font-family: "Roboto Condensed" sans-serif !important;
}

/************************* NAVBAR ******************************/
.logo{ margin-right: 5px;}
/************************* NAV LINKS ***************************/
nav a.nav-link{
cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
}
.navbar-brand{color: var(--primary-white) !important}
.navbar-nav{margin-left: auto;}
.navbar-nav > li > a{
  margin-left: 0,75rem;
  margin-right: 0,75rem;
  color: var(--primary-white) !important;
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-top: 0,1875rem solid var(--primary-yellow);
  
}